PGHOST=localhost
PGPORT=5437
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=
DATABASE_SCHEMA=similarity_match
WEATHER_FILE=../数据处理与建表/mock_qixiang/synthetic_meteorology_20250101_20251231.nc
MODEL_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL_NAME=qwen3.8-max
MODEL_API_KEY=
MODEL_TIMEOUT_SECONDS=120
MODEL_MAX_TOKENS=6000
